body {
}

.Body {
    box-shadow: 0px 0px 5px #000000;
    margin: 3% auto 0 auto;
    padding: 2%;
    width: 80%;
}

.centerText {
    text-align: center;
}

hr {
    border-bottom: 1px dotted #000000;
}

#MainContent_GridView1 {
    margin: 0 auto;
    width: 80%;
}

.gvButton {
    display: block;
    margin: 0 auto;
}

#MainContent_btnBack {
    float: right;
}

#MainContent_lblDescription {
    vertical-align: top;
}

.input {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 2% 0;
    width: 75%;
}
